.login__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 530;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login {
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  width: 25em;
  height: 18em;
  padding: 60px 68px 40px;
  margin-top: 195px;
}

#user-video{
    position: absolute;
    top: 10;
    left: 0;
    margin: 16px;
    margin-left: 10px;
    border-radius: 16px;
    width: 80%;
    height: 90%;
    background: #111111
}

#peer-video{
  background : black;
  width: 100%;
  height: 100%;
  /* margin-top: 66px; */
}

 

